{% extends "base.html" %} {% block title %}The Pugilist's Encyclopedia{% endblock %} 
{% block content %} 
<h1 class="hidden exp" id="hed">The Pugilist's Encyclopedia</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-right hide" id="subnav" role='navigation'>
    <button class="toggler closebtn" type="button" onclick='toggleNav()'>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse sidebar" id="navbar">
        <div class="navbar-nav collapse show" id="sidebar">
            <ul>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
