{% extends "base.html" %} {% block title %}The Hook{% endblock %}
{% block content %} 
<h1 class="hiddeny" id="hed">The Hook - 3/4</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-right" id="subnav" role='navigation'>
    <button class="toggler closebtn" id="toggler" type="button" onclick='toggleNav()'>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse sidebar" id="navbar">
        <div class="navbar-nav collapse show" id="sidebar">
            <ul>
                <li><a class="nav-item nav-link" href="#lead">The Lead Hook</a></li>
                <li><a class="nav-item nav-link" href="#rear">The Rear Hook</a></li>
                <li><a class="nav-item nav-link" href="#am">American Hook</a></li>
                <li><a class="nav-item nav-link" href="#cast">Casting Punch</a></li>
                <li><a class="nav-item nav-link" href="#check">Check Hook</a></li>
                <li><a class="nav-item nav-link" href="#cork">Corkscrew Hook</a></li>
                <li><a class="nav-item nav-link" href="#dub">Double Hook</a></li>
                <li><a class="nav-item nav-link" href="#euro">European Hook</a></li>
                <li><a class="nav-item nav-link" href="#leap">Leaping Hook</a></li>
                <li><a class="nav-item nav-link" href="#liver">Liver Blow</a></li>
                <li><a class="nav-item nav-link" href="#shovel">Shovel Hook</a></li>
                <li><a class="nav-item nav-link" href="#tah">Throw-Away Hook</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="cont" id="cont">
<div><a class="tarrow" id="arr" href="#top"><img src=".\static\arrow-bar-up.svg"></a></div>
<div class="term hidden" id="lead"><h3>The Lead Hook - 3 </h3></div>
    <div class="def hidden">
        The lead hook is an excellent weapon, thrown with the lead hand around the guard in a tight arc or a 
        wide arc depending on your position.
        <div class="dboxers hidden">
            Notable Users: Julio Cesar Chavez, Oscar De La Hoya, Joe Frazier
        </div>
    </div>
<div class="term hidden" id="rear"><h3>The Rear Hook - 4</h3></div>
    <div class="def hidden">
        A powerful punch generally thrown in close range from the rear hand.
            <div class"dboxers hidden">
                Notable Users: Mike Tyson, Saul Canelo Alvarez, Riddick Bowe
            </div>
    </div>
<div class="term hidden" id="am"><h3>American Hook</h3></div> 
    <div class="def hidden">
        A hook where the fist is oriented such that the thumb faces up and the palm faces the user.
            <div class="dboxers hidden">
                Notable Users: Mike Tyson, Floyd Mayweather, Roy Jones Jr.
            </div>
    </div>
<div class="term hidden" id="cast"><h3>Casting Punch or Thai/Russian Hook</h3><div>
    <div class="def hidden">
        A hook where the thumb is angled downward and the palm faces slightly outward or away from the boxer. 
        Distinct from Corkscrew sometimes looks more like a looping punch, torque doesnt drive this punch it
        comes mostly from distance travelled as well as a drop step or crouch.
        <div class="dboxers hidden">
            Notable Users: Gennady Golovkin, Jack Dempsey
        </div>
    </div>
<div class="term hidden" id="check"><h3>Check/Pivot Hook</h3><div>
    <div class="def hidden">
        The check hook is an important weapon for pure boxers; it involves pivoting on the lead leg to the 
        outside and throwing a lead hook , forcing your opponent to careen forward toward your previous position.
        <div class="dboxers hidden">
            Notable Users: Floyd Mayweather, Terrence Crawford, Erislandy Lara
        </div>
    </div>
<div class="term hidden" id="cork"><h3>Corkscrew Hook</h3></div> 
    <div class="def hidden">
        a hook thrown where more torque is emphasized where the thumb faced downward 
        and the palm faces outward or away from the boxer. 
        <div class="dboxers hidden">
            Notable Users: Gennady Golovkin, Jack Dempsey, Gabriel Vargas (Kickboxer)
        </div>
    </div>
<div class="term hidden" id="dub"><h3>Double Hook</h3><div>
    <div class="def hidden">
        A series of hooks where you vary the power of the first punch to the head or body and follow up with 
        another hook of equal or more power with the same hand to the head or body.
        <div class="dboxers hidden">
            Notable Users: Roy Jones Jr., Saul Canelo Alvarez
        </div>
    </div>
<div class="term hidden" id="euro"><h3>European Hook</h3></div>
    <div class="def hidden">
        A hook where the thumb faces the user and the palm is downwards.
            <div class"dboxers hidden">
                Notable Users: 'Smokin' Joe Frazier, Gennady Golovkin, Naoya Inoue
            </div>
    </div>
<div class="term hidden" id="leap"><h3>Leaping Hook/Gazelle Punch</h3></div>
    <div class="def hidden">
        A lead hook thrown while leaping at your opponent, while this hook is very powerful, 
        it’s also risky if countered.
        <div class="dboxers hidden">
            Notable Users: Mike Tyson, Floyd Mayweather, Floyd Patterson, Muhammad Ali
        </div>
    </div>
<div class="term hidden" id="liver"><h3>Liver Blow</h3></div>
    <div class="def hidden">
        A hook thrown from the left hand to the lower right side of the abdomen where the liver lies, 
        a bundle of nerves that surround the liver make the area an important point to defend, a good 
        liver blow will force even the toughest opponent to the canvas. 
            <div class"dboxers hidden">
                Notable Users: Julio Cesar Chavez, Tommy Morrison, Henry Armstrong
            </div>
    </div>
<div class="term hidden" id="shovel"><h3>Shovel Hook or Mexican Hook</h3></div>
    <div class="def hidden">
        The shovel hook is a hybrid between a hook and an uppercut, the hook comes at an upward angle, 
        generally thrown from the lead hand toward the liver or pit of the stomach. 
            <div class="dboxers hidden"> 
                Notable Users: Saul Canelo Alvarez, Julio Cesar Chavez
            </div>
    </div>
<div class="term hidden" id="tah"><h3>Throw-Away Hook</h3></div>
    <div class="def hidden">
        More of a touch or a slap than a punch, it’s used to disorient or occupy the opponents guard which you can 
        then follow up with another hook with either hand or even an uppercut. 
            <div class="dboxers hidden"> 
                Notable Users: Saul Canelo Alvarez, Julio Cesar Chavez
            </div>
    </div>
{% endblock %}