{% extends "base.html" %} {% block title %}The Uppercut{% endblock %}
{% block content %} 
<h1 class="hiddenu" id="hed">The Uppercut (Undercut) - 5/6</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-right" id="subnav" role='navigation'>
    <button class="toggler closebtn" id="toggler" type="button" onclick='toggleNav()'>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse sidebar" id="navbar">
        <div class="navbar-nav collapse show" id="sidebar">
            <ul>
                <li><a class="nav-item nav-link" href="#lead">Lead Uppercut</a></li>
                <li><a class="nav-item nav-link" href="#rear">Rear Uppercut</a></li>
                <li><a class="nav-item nav-link" href="#bolo">Bolo Punch</a></li>
                <li><a class="nav-item nav-link" href="#brace">Brace Uppercut</a></li>
                <li><a class="nav-item nav-link" href="#in">Inside/Close Uppercut</a></li>
                <li><a class="nav-item nav-link" href="#lr">Long Range Uppercut</a></li>
                <li><a class="nav-item nav-link" href="#sb">Slide-Back Uppercut</a></li>
                <li><a class="nav-item nav-link" href="#slip">Slip Uppercut</a></li>
                <li><a class="nav-item nav-link" href="#swipe">Swiping Uppercut</a></li>
                <li><a class="nav-item nav-link" href="#vf">Vertical Fist Uppercut</a></li>
            </ul>
        </div>
    </div>
</nav> 
<div><a class="tarrow" id="arr" href="#top"><img src=".\static\arrow-bar-up.svg"></a></div>
<div class="cont" id="cont">
<div class="term hiddenu" id="lead"><h3>The Lead Uppercut - 5</h3></div>
    <div class="def hiddenu">
        A punch thrown with the lead hand at nearly a vertical angle toward the opponent’s chin. Invented by 
        Samuel Elias aka 'Dutch Sam' in the late 18th century.
        <div class="dboxers hiddenu">
            Notable Users: Ricardo Lopez, Gervonta 'Tank' Davis, 'Iron' Mike Tyson
        </div>
    </div>
<div class="term hiddenu hiddenu" id="rear"><h3>The Rear Uppercut - 6</h3></div>
    <div class="def hiddenu hiddenu">
        A punch thrown with the rear hand at a nearly vertical angle toward the opponent’s chin.
            <div class"dboxers hiddenu hiddenu">
                Notable Users: Jermall Charlo, Lennox Lewis, Riddick Bowe
            </div>
    </div>
<div class="term hiddenu" id="bolo"><h3>Bolo Punch</h3></div>
    <div class="def hiddenu">
        a weaker variant of the uppercut whose strength lies in its unpredictability and odd trajectory, 
        the punch is thrown from the elbow with some hip movement, the fist is swung at an outward arc and 
        up through the guard. Can also be used as a diversion to land with the other hand. 
            <div class="dboxers hiddenu"> 
                Notable Users: Kid Gavillan, Roy Jones Jr., 'Sugar' Ray Leonard
            </div>
    </div>
<div class="term hiddenu" id="brace"><h3>Brace Uppercut</h3></div> 
    <div class="def hiddenu">
        An uppercut thrown after picking up your opponent’s chin or framing them with your forearm or 
        elbow or even a collar tie. Very useful for establishing control over your opponent and setting
        them up in close range.
        <div class="dboxers hiddenu">
            Notable Users: Larry Holmes, Gervonta 'Tank' Davis, Jack Johnson
        </div>
    </div>
<div class="term hiddenu" id="in"><h3>Inside/Close Uppercut</h3></div> 
    <div class="def hiddenu">
        A variant of the uppercut where the arm remains very close to the body, used to lift an
        opponent's head at close range.
            <div class="dboxers hiddenu">
                Notable Users: 'Iron' Mike Tyson, Henry Armstrong, Marcos Maidana
            </div>
    </div>
<div class="term hiddeny" id="lr"><h3>Long Range Uppercut</h3><div>
    <div class="def hiddeny">
        A variant of the uppercut where it’s angled up and outward to reach the opponent, 
        used to counter the jab or reach a retreating opponent.
        <div class="dboxers hiddeny">
            Notable Users: Manny Pacquiao, 'Sugar' Shane Mosley, Gennady Golovkin
        </div>
    </div>
<div class="term hiddeny" id="sb"><h3>Slide-Back Uppercut</h3></div>
    <div class="def hiddeny">
        An uppercut thrown while pulling away from the opponent, often used to counter aggressive oppenets
        <div class="dboxers hiddeny">
            Notable Users: James Toney, Ricardo Lopez, Salvador Sanchez
        </div>
    </div>
<div class="term hiddeny" id="slip"><h3>Slip Uppercut</h3></div>
    <div class="def hiddeny">
        An uppercut thrown after slipping a punch, generally after slipping to the outside and countering 
        beneath the opponent’s punch, usually a jab.
            <div class"dboxers hiddeny">
                Notable Users: Mikey Garcia, Mark Magsayo, 'Prince' Naseem Hamed
            </div>
    </div>
<div class="term hiddeny" id="swipe"><h3>Swiping Uppercut</h3></div>
    <div class="def hiddeny">
        The uppercut is thrown across the body, upon completing the upper cut it will 
        be on the opposite side of the user, useful in the clinch, especially if the opponent's
        head is on your shoulder
            <div class"dboxers hiddeny">
                Notable Users: Juan Manuel Marquez, Jarret Hurd, Miguel Cotto
            </div>
    </div>
<div class="term hiddeny" id="vf"><h3>Vertical Fist Uppercut</h3><div>
    <div class="def hiddeny">
        A variant of the uppercut where the palm doesn’t face the user but the opposite side of the user, 
        useful for splitting the guard, and gaining head control if yoou miss
        <div class="dboxers hiddeny">
            Notable Users: Terrence Crawford, David Benavidez,Andre Berto
        </div>
    </div>
</div>
{% endblock %}