@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body, html {
    width      : 100%;
    height     : 100%;
    margin     : 0px;
    padding    : 0px;
    overflow-x : hidden;
}

body{
    background-color: black;
    color: aliceblue;
}

#wrapper {
    min-height:  calc(100vh - 4rem - 217px); /*not perfect*/
    background-color: black;
}

footer {
    background-color:  #dc3545!important;
    padding: 40px;
    min-height: 100px;
}
